:root {
    --background: #282828;
    --text: #ebdbb2;
    --text-size: 43px;
}

input[type="text"], textarea {
    background-color: var(--background); 
    color: var(--text);
    border: 2px solid var(--text);
    font-size: var(--text-size);
}

.full-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    border: 2px solid var(--text);
    cursor: pointer;
    margin: 0;
    padding: 8px 16px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}